<!--게시글 보여주는 폼-->
<center>
<a href ="board/detail/<%= post.id %>">
    <div class="post_form masonry-item">
       <p class="context"><%= post.context %></p>
       <!--<a href="#" id="like_button">-->
       <span class="glyphicon glyphicon-heart" aria-hidden="true"><%= post.like_count %></span>
       <!--</a>-->
       &nbsp;&nbsp;
       <span class="glyphicon glyphicon-envelope" aria-hidden="true"><%= post.reply.size %></span>
    </div>            
</a>
</center>

