<div class="row">
    <div class="col-md-5">
        <!--<h1>write</h1>-->
        <center>
        <div class="write_form">
            <textarea></textarea>
            <br>            
        </div>
        <a href="#" id="submit_button" style="margin-top:30px">
            <span class="glyphicon glyphicon-ok btn-lg" aria-hidden="true"></span>
        </a>
        </center>
    </div>
    
    <div class="col-md-7">
        <!--<h1>read</h1>-->
        
        
        
        
    </div>
    
</div>

    
