<div class="header">
</div>

<div class="row">
    <div class="col-md-5">
        <!--<h1>write</h1>-->
        
        <!--게시글 작성 폼-->
        <center>        
            <div class="write_form">
                <textarea id="write_context"></textarea>
                <br>            
            </div>
            <!--전송 버튼(체크 모양)-->
            <a href="#" id="submit_button" style="margin-top:30px">
                <span class="glyphicon glyphicon-ok btn-lg" aria-hidden="true"></span>
            </a>
        </center>
    </div>
    
    <!--모든 게시물-->
    <div class="col-md-7">
        <!--<h1>read</h1>-->
        <% @post_all.each do |post| %>
            <center>
                <div class="post_form">
                   <p class="post_context"><%= post.context %></p><br>
                   <span class="glyphicon glyphicon-heart" aria-hidden="true"><%= post.like_count %></span>
                   &nbsp; &nbsp;
                   <span class="glyphicon glyphicon-envelope" aria-hidden="true"><%= post.reply.size%></span>
                </div>                         
             </center>
        <% end %>      
    </div>
    
</div>

<script>
$(function(){
    
    // 게시물 작성
    $("#submit_button").click(
        function(){
            $.ajax({
                data: { context: $("#write_context").val() },
                url: "/board/write",
                success: function(data){
                    $("#write_context").val('');            
                    
                }
            });
        }
    );
    
    // 게시물 폼 크기 설정 부분 
    var form_size = $('.post_form').width() + 120;
    $('.post_form').css({'height':form_size +'px'});
    $('.write_form').css({'height':form_size +'px'});
    $('.write_form').css({'width':form_size +'px'});

    $(window).resize(
        function(){           
            
            form_size = $('.post_form').width() + 120;            
            $('.post_form').css({'height':form_size +'px'});
            $('.write_form').css({'height':form_size +'px'});
            $('.write_form').css({'width':form_size +'px'});
            
        }
    );
    
}); //function()
</script>

    
