/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumpenscript.css); /* font-family: 'Nanum Pen Script', serif; */
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);  /* font-family: 'Jeju Gothic', serif; */
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);  /* font-family: 'Hanna', serif; */

body {
    background-color: #D5D6D8;
    /*font-family : 'Jeju Gothic', serif;;*/
    font-family: 'Noto Sans Korean';
}

/*페이지 위 여백*/
.header {
    height: 60px;   
}

/* 더보기 버튼 공간*/
.space {
    bottom: 0; 
    height: 60px;   
    background-color: gray;    
}

/* 글 작성 공간*/
.write_form {        
    width: 350px;
    height: 350px;    
    border: 15px solid black;    
    border-radius: 50%;
    border-color: #EE3C39;   
    background-color: white;
    /*overflow: hidden;*/
    /*float: right;*/
}
.write_context_wrapper{
    margin-top: 64px;
    height:60%;
}
.left {
    /*position: absolute;*/
    /*margin-top:50px;*/        
    float: left;
    width: 15%;
    height: 100%;
    /*background-color: black;*/
    -webkit-shape-outside: polygon(0 0, 100% 0, 30% 15% , 10% 50% , 30% 85% , 100% 100%, 0% 100% );
    -webkit-clip-path: polygon(0 0, 100% 0, 30% 15% , 10% 50% , 30% 85% , 100% 100%, 0% 100% );
}
.right {    
    float: right;
    width: 15%;
    height: 100%;
    /*background-color: black;*/
    -webkit-shape-outside: polygon(100% 0, 0 0, 70% 15% , 90% 50%, 70% 85% ,0 100%, 100% 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 70% 15% , 90% 50%, 70% 85% ,0 100%, 100% 100%);
}
.text_area{
    width: 97%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    font-size: 14px;
    line-height: 155%;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border-top-left-radius: 17% 50%;
    border-top-right-radius: 17% 50%;
    border-bottom-left-radius: 17% 50%;
    border-bottom-right-radius: 17% 50%;
    outline: 0;
}
textarea {
    width: 97%;
    height: 60%;
    text-align: center;  
    font-size: 14px;
    line-height: 158%;
    /*box-sizing: border-box; /* Opera/IE 8+ */ 
    /*-webkit-box-sizing: border-box; /* Safari, Chrome et al */ 
    /*-moz-box-sizing: border-box; /* Firefox */     
    margin-top: 20%;
    border-top-left-radius: 17% 50%;
    border-top-right-radius: 17% 50%;
    border-bottom-left-radius: 17% 50%;
    border-bottom-right-radius: 17% 50%;    
    outline: none;
    resize: none;
}

/*게시글 보여지는 공간*/
.post_form {    
    min-width: 300px;
    width: 350px;
    height: 350px;       
    margin-bottom: 70px;
    border: 15px solid black;
    border-radius: 50%;    
    border-color: gray;
    float: left;
    background-color: white;
}
.post_context_wrapper{
    margin-top: 23px;
    height:60%;
}
.context {    
    width: 97%;
    height: 100%;
    /*background-color: gray;*/
    text-align: center;   
    font-size: 14px;
    line-height: 155%;    
    border-top-left-radius: 17% 50%;
    border-top-right-radius: 17% 50%;
    border-bottom-left-radius: 17% 50%;
    border-bottom-right-radius: 17% 50%;
    outline: none;
    resize: none;    /* ? */
}

.reply_form {
    min-width: 300px;
    width: 350px;
    height: 350px;   
    margin-bottom: 70px;
    border: 8px solid black;
    border-radius: 50%;    
    border-color: gray;
    float: left;
    background-color: white;
}
.reply_context_wrapper{
    margin-top: 27px;
    height:60%;
}

/*첫번째 게시물 옆 빈 공간*/
.empty_form {
    width: 300px;
    height: 210px;
    /*background-color: black;*/
    float: right;
    right: 10%;   
    /*position: relative;*/
}


.masonry-item {
}

.stamp-item {    
}

.left_nav {
  position:fixed; /* keep fixed to window */
  /*padding: 10px;*/
  top: 0; left: 0; /* position to top left of window */
  height:100%; width:60px; /*set dimensions */
  margin-left: 40px;
  /*background: #FF6B6B;*/
  transition: width ease .5s; /* fluid transition when resizing */
}

.right_nav {
  position: fixed; /* keep fixed to window */
  float: right;
  top: 0; right: 0; /* position to top left of window */
  height:100%; width:60px; /*set dimensions */
  margin-right: 40px;
  /*background: #FF6B6B;*/
  transition: width ease .5s; /* fluid transition when resizing */  
}

.logo_section {
    height:130px;
}

.logo_section .bi{
    width : 50px;
    height : 50px;
    margin-top: 50px;
}

.categori {
    width: 80%;
    height: 70px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;   
}

hr.style_one {
    /*border: 0;*/
    /*height: 1px;*/
    /*background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));*/
    
    /*border: 0;*/
    /*height: 0;*/
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    
    /*background-color: #000000;*/
    /*border-color: #000000;*/
    
    color: #EE3C39;
    background-color: #EE3C39;
}

a.board_name{
    font-size: 27px;    
}

a.board_name:link{
    color:#ffffff;        
}

a.board_name:visited{
    color:#ffffff;
}

a.board_name:hover{
    color:#EE3C39;
}

a.board_name:active{
    color:#EE3C39;
}

/*a.board_name:focus{*/
/*    text-decoration:underline*/
/*}*/

a.mypage_name:link{
    color:#ffffff;    
    font-size: 12px;
    border-top: 1px solid;
    border-bottom: 1px solid;    
    padding: 5px; 
}

a.mypage_name:visited{
    color:#ffffff;
}

a.mypage_name:hover{
    color:#EE3C39;
}

a.mypage_name:active{
    color:#EE3C39;
}


a.sorting_name:link{
    color:#ffffff;
    font-size: 12px;
}

a.sorting_name:visited{
    color:#ffffff;
}

a.sorting_name:hover{
    color:#EE3C39;
}

a.sorting_name:active{
    color:#EE3C39;
}



    
/* unvisited link */
/*a:link {*/
/*    color: #000000;*/
/*}*/

/* visited link */
/*a:visited {*/
/*    color: #000000;*/
/*}*/

/* mouse over link */
/*a:hover {*/
/*    color: gray;*/
/*}*/

/* selected link */
/*a:active {*/
/*    color: gray;*/
/*}*/

a {
    text-decoration: none !important;
}

/*BUTTON*/
.login_button {
	-moz-box-shadow:inset 0px 0px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 0px 0px 0px #f29c93;
	box-shadow:inset 0px 0px 0px 0px #f29c93;
	background-color:transparent;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0px;
	border:4px solid #EE3C39;
	display:inline-block;
	color:#EE3C39;
	font-size:14px;
	font-style:normal;
	height:80px;
	line-height:73px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #b23e35;
}

.login_button:visited {
    color: #d83526;
}
.login_button:active {
	position:relative;
	top:2px;
	left:2px;
}

