/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body{
}

textarea{
    resize: none;
    width: 90%;
    height: 90%;
}

.header{
    height: 100px;   
}

.write_form{    
    
    width: 310px;
    height: 310px;
    padding: 50px;
    border: 15px solid black;    
    border-radius: 50%;
    border-color: #FF6B6B;    
}

.post_form{
    
    min-width: 300px;
    width: 40%;
    height: 310px;
    padding: 50px;    
    margin-top: 20px;
    border: 15px solid black;
    border-radius: 50%;    
    border-color: #FF6B6B;
    float: left;
}

.reply_form{
    min-width: 300px;
    width: 40%;
    height: 310px;
    padding: 50px;    
    margin: 10px;
    border: 15px dotted black;
    border-radius: 50%;    
    border-color: #FF6B6B;
    float: left;
}

/*첫번째 게시물 옆 빈 공간*/
.empty_form{
    
    width: 30%;
    /*height: 150px;*/
    /*background-color: black;*/
    float: right;
      
    
}

.context{
    
    width: 80%;
    height: 80%;
    
}

.masonry-item{
}

.stamp-item{
}


.left_nav {
  position:fixed; /* keep fixed to window */
  padding: 10px;
  top: 0; left: 0; /* position to top left of window */
  height:100%; width:100px; /*set dimensions */
  background: #FF6B6B;
  transition: width ease .5s; /* fluid transition when resizing */
}

.right_nav {
  position:fixed; /* keep fixed to window */
  float:right;
  padding: 10px;
  top: 0; right: 0; /* position to top left of window */
  height:100%; width:100px; /*set dimensions */
  background: #FF6B6B;
  transition: width ease .5s; /* fluid transition when resizing */  
}