<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
</head>
<body>
<div class="header">
</div>

<div class="row">

    <div class="col-md-1">
        
        <div class="left_nav">
            <div class="logo_section">
            </div>
            
            <div class="categori">
              <hr class="style_one">
              <a href="#">색동 저고리</a>
              <hr class="style_one">
              <a href="#">배냇 저고리</a>
              <hr class="style_one">
              <a href="#">반짇 고리</a>
              <hr class="style_one">
              <a href="#">연결 고리</a>              
              <hr class="style_one">
              <br>
              <hr class="style_one">              
              <a href="#">나의 고리</a>
              <hr class="style_one">
              <br>
              <hr class="style_one">              
              <a href="#" class="open">캠페인</a>
              <hr class="style_one">
              <br>
            </div>
        </div>
    </div>  
  
    <%= yield %>

    <div class="col-md-1">
        <div class="right_nav">
        
            <div style="height:50px">
            </div>
         
            <hr> 
            <a href="#">나의 고리</a>
            <hr>
            <a href="#">댓글 고리</a>
            <hr>
            <a href="#">공감 고리</a>
            <hr>
            <a href="#">스크랩 고리</a>
            <hr>
            <a href="#">정렬</a>
            <hr>      
            <!--<a href="#" class="open">&rarr;</a>-->
            <!--<hr>-->
        </div>
    </div>
</div>

</body>
</html>
